<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<div th:fragment="copyHistory">
    <h2>HISTORY</h2>

<div th:each="history : ${histories}">
    <form th:method="PATCH" th:action="@{/tickets/action/{id}(id=${ticket.getId()})}" th:object="${history}">
        <a   th:text="${history.getDate() + ', ' + history.getUser_id()+ ','+
    history.getAction()+ ', '+ history.getDescription()}">history</a>
    </form>
</div>
<br/>
<hr/>
</div>

<a th:href="@{/tickets/{id}/edit(id=${ticket.getId()})}">Edit</a>
<a th:href="@{/tickets/{id}/overView(id=${ticket.getId()})}">overView</a>
<a th:href="@{/tickets}">All Tickets</a>
<a th:href="@{/tickets/{id}/overView/comments(id=${ticket.getId()})}">Comments</a>
<a href="tickets/create">Create new Ticket</a>
</body>
</html>