<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All </title>
</head>
<body>

<h1> My login </h1>

<form th:method="POST" th:action="@{/demo/login}" th:object="${user}">

    <div>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        <br/>
        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br/>
        <input type="submit" value="Enter"/>
    </div>
</form>
</body>
</html>


